{% extends 'base.html.twig' %}

{% block title %}Hello CourseDetailController!{% endblock %}

{% block body %}



    <div class="container">
        <main>
            <div class="video-container">
                <iframe  src="{{ asset('uploads/videos/' ~ lesson.urlvideo) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-title">{{ lesson.name }}</div>
            <button class="next-button">Suivant</button>
        </main>
    </div>

{% endblock %}