.dashboard{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: url('../images/backD.png');
    background-position: top;
   
   
    
}



.dashboard > *:last-child{
    flex: 2;
    display: flex;
    flex-direction: column;
  text-align: center;

}

.dashboard > *:last-child .mycourses{
    display: flex;
    flex-direction: row;
    padding: 1em 2em;
    flex-wrap: wrap;
    text-align: start;
}
.dashboard > *:last-child .mycourses .progress-section{
    display: flex;
    flex-direction: column;
}

.dashboard > *:last-child .mycourses .progress-section > ul{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    gap: 1em;
}

.dashboard h3{
    font-weight: bold;
    color: darkorange;
    text-shadow: rgb(180, 180, 180) 1px 0 10px;
}
.dashboard > *:last-child .mycourses .progress-section > ul > *{
    flex:1;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 400px;
    border: 2px solid rgb(145, 144, 144);
    border-radius:  5px;
    background-color: #ffffff;
    flex-basis: 500px;
    max-width: 500px;
    
    padding: 4px;
}

.dashboard > :last-child .mycourses .progress-section > ul > *>:first-child{
    position: relative;
    display: flex;
    flex:1;
    width: 100%;
    max-width: 200px;
}
.dashboard > :last-child .mycourses .progress-section > ul > *>:first-child img{
    max-width: 200px;
}
.dashboard > :last-child .mycourses .progress-section > ul > *>:first-child >*:last-child{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.dashboard > :last-child .mycourses .progress-section > ul > *>:first-child >*:last-child h4{
margin: auto;
text-align: center;
font-size: 1.5rem;
}

.dashboard > *:last-child .mycourses .progress-section > ul .progressinfo {
   
    flex: 2;
    padding: 0.5em;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    color: #2B2839;
    
}
.dashboard > :last-child .mycourses .progress-section > ul .progressinfo >:first-child{
    text-decoration: underline;
    margin-bottom: 0;
    color: #A020F0;
    
}
.dashboard > :last-child .mycourses .progress-section > ul .progressinfo >:nth-child(2){
    font-size: 0.7rem
}
.dashboard > :last-child .mycourses .progress-section > ul .progressinfo >:last-child{
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #868383;
    margin-bottom: 0;
    font-size: 0.7rem;
}
.dashboard > *:last-child .mycourses .progress-section > ul .progressinfo
.dashboard > :last-child .mycourses .progress-section > ul > *>:first-child >*:first-child{
    width: 100%;

    

    
}

.dashboard h2{
    color: #868383;
}
.dashboard h2 span{
    color: #A020F0;
    position: relative;

}
.dashboard h2 span::after{
   content: '';
    width: 100%;
    height: 90px;
    border: solid 4px #39045A ;
    position: absolute;
    bottom: -90px;
    border-color: #39045A transparent transparent transparent;
    border-radius: 100%/50px 20px  10% 5px;
    left: 0;
}
@media screen  and (min-width:500px) {
    header{
        position: absolute;
        width: 100%;
    }
}


.dashboard-options{
    
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: start;
    padding: 1em 2em;
    margin-top: 5em;
}
.dashboard-options li{
    font-size: 1.2rem;
    padding: 0.2em 0em;
    border-radius: 5px;
    /* border: 2px solid #A020F0; */
    border-bottom: 4px solid #BB84E8;
   
    font-weight: bold;
    background-color: #F5F5F5;
    /* text-align: center; */
    margin: 0.5em 0;
    border-radius: 0;
}

.dashboard-options li a{
    color: #BB84E8;
}
.dashboard-options li a:hover{
    text-decoration: none;
}


.completed-courses{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.completed-courses ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}
.completed-courses ul li {
    background-color: #fff;
    color: #2B2839;
    flex: 1;
    max-width: 500px;
    flex-basis: 500px;
    min-width: 250px;
    position: relative;
    border: 2px solid #868383;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.completed-courses ul li > i{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: larger;
    transform: rotate(30deg);
    color: darkorange;
}

.completed-courses ul li h4{
    font-size: 1rem;
    font-weight: bold;
    color: #2B2839;
}
.completed-courses ul li p{
    color: #868383;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.completed-courses ul li p progress{
    margin-left: auto;
    accent-color: #A020F0;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .photo-section {
    text-align: center;
    margin-right: 20px;
  }
  
  .user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .photo-upload {
    display: none;
  }
  
  .upload-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .info-section {
    color: white;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 200px;
    padding: 5px;
  }
  
  .save-btn {
    padding: 8px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }

/*  */
.update-profile form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2em;
}
.update-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
}
.update-profile h3{
    margin-right: auto;
}

.update-profile .container {
    
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2em 1em;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    max-width: 160px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.profile-picture label {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.profile-picture input[type="file"] {
    display: none;
}
.form {
    flex: 1;
    max-width: 700px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea , .input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-profile button {
    background-color: #BB84E8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: auto;
}

.update-profile button:hover {
    background-color: #BB84E8;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.profile-picture span{
    color: #BB84E8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-size: 1rem;
    border: 1px solid #BB84E8;
    padding: 0.5em 1em;
}
@media (min-width: 768px) {
    .container {
        width: 800px;
    }

    .form-grid {
        grid-template-columns: 1fr 2fr;
    }
}

/* supprit */
.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(207, 119, 221, 0.4);
}

.modal button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-style: italic;
    color: #735ec9;
}



.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #735ec9;
    width: 80%;
    max-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal-content p{
    color: #735ec9;
    font-size: 1.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-content > div{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.modal-content > div a{
    color: #735ec9;
    border: 1px solid #735ec9;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1rem;

}
.modal-content > div a:hover{
    text-decoration: none;
}
.close {
    color: #aaa;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* style specififc to admin dhasboard */

.mycourses .requests > ul > li > div{
    margin: 0.2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mycourses .requests > ul > li >*:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #735ec9;
}

.mycourses .requests > ul > li >*:last-child > div{
    display: flex;
    flex-direction: row;
    gap: 0.3em;

}

.mycourses .requests > ul > li >*:last-child > div a{
    color: #BB84E8;
    flex: 1;
    padding: 0.3em 0.7em;
    border: 1px solid #BB84E8;
    border-radius: 3px;
    
}

.delete{
    color: red !important;
}

.create{
    color: #A020F0 !important;
}
.bold{
    font-weight: bold;
}
.hidden{
    display: none !important;
}
.selected{
    background-color: #39045A !important;
}

.manage-tutors-container , .manage-courses-container {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    height: 100%;
}

.manage-tutors-container > ul , .manage-courses-container > ul , .old-courses-container > ul , .manageCourseContainer ul{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;

}
/* .manage-tutors-container > ul>*{
    flex:1;
} */
.manage-tutors-container > ul>:first-child , .manage-courses-container > ul>:first-child  , .old-courses-container > ul .course-info,.manage-courses-container > ul > .course  , .manageCourseContainer  > ul>*:first-child,#addNewCourse{
    color: #BB84E8;
    padding:  1em;
    border: 2px dashed #BB84E8;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;

}






.manage-tutors-container > ul > .tutor, .manageCourseContainer  > ul > li {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    max-width: 160px;
    position: relative;
    border: 2px dashed #BB84E8;
    border-radius: 5px;
}

.manageCourseContainer  > ul > li{
    max-width: 200px;
    position: relative;
background-color: #F5F5F5;
    color: #868383;
}
.manageCourseContainer  > ul > li h4{
    color: #BB84E8;
    text-align: center;
    font-size: 1.2rem;
}
.manageCourseContainer  > ul > li > div{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    font-size: 0.8rem;
}
.manageCourseContainer  > ul > li > i{
    position: absolute;
    top: -5px;
    right: -5px;
    transform: rotate(30deg);
}
.manageCourseContainer  > ul > li > div > *{
    margin-bottom: 0;
}
.manage-tutors-container > ul > .tutor img, .manageCourseContainer  > ul > li img{
    width: 100%;
    height: 50%;   
}

.manage-tutors-container > ul > .tutor > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: auto;
}
.manage-tutors-container > ul > .tutor h4 {
    font-size: 1rem;
}
.manage-courses-container > ul > .course h4 {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 10px;
}


.manage-courses-container > ul > .course  i {
    color: #BB84E8;
    font-size: 1.4rem;    
    text-align: center;
}
 


.manage-tutors-container > ul > .tutor  p{
    font-size: 0.8rem;
    margin: 1px 0 0.5em;
}
.manage-tutors-container > ul > .tutor > div > a{
    padding: 0.3em 0.5em;
    color: #BB84E8;
    border: 1px solid #BB84E8;
}


.old-courses-container {
    width: 100%;
    
}

.old-courses-container > ul .course-info{
    padding:  1em;
    border: 2px dashed #BB84E8;
    display: flex;
    flex-direction: column;
    max-width: 160px;
    background-color: #F5F5F5;

}

.old-courses-container > ul .course-info img {
    border-radius: 5px;
    opacity: 0.7;
}
.old-courses-container > ul .course-info  h4 {
    font-size: 0.9rem;
    font-weight: bold;
    color: #735ec9;
    margin-top: 5px;
    text-align: start;
}
.old-courses-container > ul .course-info div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.old-courses-container > ul .course-info div  >  p{
    font-size: 0.8rem;
    color: #868383;
    margin: 0;
    font-weight: 500;
}
.old-courses-container > ul .course-info div  > i{
    font-size: 0.8rem;
    color: #735ec9;
}




/* form add tutor */
.form-create-tutor,.createCourseForm{
    border-radius: 5;
    border: 1px solid #39045A;
    text-align: center;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    max-width: 700px;
    max-height: 50%;
    flex-direction: column;
    background-color: #e5d8f0;

}
.form-create-tutor form > div, .createCourseForm form{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.form-create-tutor h3 .createCourseForm h3{
    font-size: 1.5rem;
    color: #39045A;
}
.form-create-tutor form > button ,.createCourseForm form > button{
    color: white;
    background-color: #BB84E8;
    padding: 0.7em;
    border: none;
    border-radius: 5px ;
    width: 100%;
    margin-top: 0.8em;
}
.form-create-tutor form > *:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-create-tutor  .closebtn ,.createCourseForm .closebtn{
margin-left: auto;
cursor: pointer;
color: #2B2839;

}



/* acheivements */
.my-achievements{
    display: flex;
    flex-direction: column;
    text-align: start;
 
 }
 .manageCourseContainer{
     display: flex;
     flex-direction: column;
     text-align: start;
 }

.border{
    border: 1px solid #aaa;
}


/* Form to add  base informations to course */
.hidden-form{
    display: none ;
}

.add-base-infos-course {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 50%;
    left: 30%;
    background-color: #F5F5F5;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px;
}
.add-base-infos-course * {
    margin-bottom: 5px;
}



.add-base-infos-cours label {
    font-size: 0.9rem;
    color: #868383;
    font-weight: 400;
}

.add-base-infos-course input {
   padding: 5px 10px;
   background-color: #BB84E8;
   color: white;
   font-size: 0.8rem;
   font-weight: 500;
   outline: none;
}


.add-base-infos-course  select {
    color: #868383;
    font-size: 0.9rem;
}


.add-base-infos-course  select option {
    font-size: 0.8rem;
    color: #868383;

}


.add-base-infos-course button {
    padding: 8px 20px ;
    background-color: #A020F0;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    border: none;
    border-radius: 10px;
}

/* edit course */
.detail_course_tutor .old-courses-container{
width: 100%;
display: flex;
flex-direction: column;
}
.old-courses-container form{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em 2em;
   
    
    
    
}
.old-courses-container form  >div:first-child{
    
  width:300px;
    margin-left: auto;

}
.old-courses-container form .left-part{
    display: flex;
    flex-direction: column;
   flex: 1;
   justify-self: center;
 
   margin: auto;
   max-width: 700px;
}
.old-courses-container form .left-part  div{
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pending{
    text-transform: capitalize;
    color: #A020F0 !important;
}
.rejected{
    text-transform: capitalize;
    color: red !important;
}
.success{
    text-transform: capitalize;
    color: #45a049 !important;
}

.option-tutor-request{
    font-size: 0.9rem !important;
}

/* parties of requests  */
.request-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4; 
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    background-color: #fff;
    border-radius: 5px;
}



.requests-details-container {
    display: flex;
    flex-direction: column;
}

.requests-details-container i {
    align-self: flex-end;
    font-size: 1.2rem;
    color: #A020F0;
}

.requests-details-container h4{
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 10px;
    color: #735ec9;
}


.requests-details-container p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 400;
}

.requests-details-container p > span {
    font-weight: bold;
    color: #868383;
}


.requests-details-container p:last-child {
   max-width: 400px;
   color: #868383;
   padding: 5px 10px ;
   border: 1px solid #735ec9;
}