.signupWrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    display: flex;
    background: url('../images/back2.png');
    
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.loginwrapper{

    height: 100vh;
   
}
.signupcontainer{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: #ECE6F6;
    margin: auto;
    padding:  1em 2em ;
    border-radius: 5px;
    position: relative;
    top: 0;
    bottom: 0;


}


.signupcontainer >a.closeLink{
    background-color: transparent;
    color: #2D2D2D;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.signupcontainer h2{
    color: #2D2D2D;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin: 0 auto 0.5em;
}
.signupcontainer form {
    display: flex;
    flex-direction: column;
}
.signupcontainer form > div  label, .logincontainer form label{
    color: #2D2D2D;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.6em 0;
}
.signupcontainer form > div{

    display: flex;
    flex-direction: column;
}

.signupcontainer form > *:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.signupcontainer form > div input,
.signupcontainer form > div select, 
.logincontainer form input{
    background-color: white;
    padding: 0.7em;
    border-radius: 5px;
    border: none;
}
.signupcontainer form > button{
    color: white;
    background-color: #A020F0;
    padding: 0.7em;
    border: none;
    border-radius: 5px ;
    margin-top: 0.8em;
}
.signupcontainer .or{
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    color: #868383;
    position: relative;
    gap: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.signupcontainer .or > span{
flex: 1;
height: 1px;
background-color: #bbbbbb;
width: 50%;
border-radius: 10px;

}

.signupcontainer  > a {
    padding: 0.7em;
    border: none;
    border-radius: 5px ;
    width: 100%;
    background-color: white;
    text-decoration: none;
    color: #2D2D2D;
    margin: 0.7em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.icon-social{
    font-size: 1.5rem;
}
.facebook{
    color: #A020F0;
}


.redirect{
    color: #868383;
    font-size: 0.8rem;
    margin: 0.3em auto;
    text-align: center;
}