{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block head %}
    <script src="{{ asset('js/main.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/login_Signup.css') }}" />
    {% endblock %}
{% block header %}

{% endblock %}
{% block body %}
<div class='signupWrapper loginwrapper'>
    <div class='signupcontainer'>
        <a href='/' class="closeLink"><i class="fa-solid fa-x"></i></a>
      
        <h2>Welcome Back!</h2>
        <form class="login-form" action="/login" method="post">
            <label for='email'>Email</label>
            <input type='email' placeholder='JoeShmoe@gamil.com' id='email' name='email' />
            <label for='password'>Password</label>
            <input id='password' name='password'  placeholder='*******'/>
            <button type="submit">LogIn</button>
        </form>
        <p class='or'><span></span>OR<span></span></p>
        <a><i class="fa-brands fa-google icon-social facebook"></i> Continue with Google</a>
        <a><i class="fa-brands fa-facebook icon-social facebook"></i>  Continue with Facebook</a>
        <p class='redirect'>New to AcadeMix ?<a href="{{ path('signup') }}" end>Sign Up</a></p>
    </div>

</div>
{% endblock %}
{% block footer %}
{% endblock %}
